/*Axis*/
.axis {
  font: 10px sans-serif;
}
 /*shape-rendering:emphasize the contrast between
clean edges of svg over rendering speed */
.axis path,
.axis line {
  fill: none;
  stroke: #50514f;
  shape-rendering: crispEdges;
}
/* We won't show x axis*/
.x.axis path {
  display: none;
}

/*Bars*/
.bar_1,
.bar_4 {
  fill: #ffe066;
}
.bar_2 {
  fill: #f25f5c;
}
.bar_3 {
  fill: #70c1b3;
}
.bar_5 {
  fill: #f25f5c;
}
.bar_6 {
  fill: #70c1b3;
}
